.aside {
    grid-area: aside;
  
    background-color: blue;
  }
  
  .main {
    grid-area: main;
    background-color: grey;
  
    overflow: scroll;
  }
  
  .card-content-container {
    min-height: 50vh;
  }
  
  .main h2 {
    text-align: center;
  }
  
  .grid-container-blog {
    display: grid;
    grid-template-areas:
      "header header header header header header"
      "aside aside main main main main"
      "footer footer footer footer footer footer";
  }
  
  .author-description {
    color: blue;
    margin: 0 5px 5px 0;
  }
  @media (max-width: 600px) {
    .grid-container-blog {
      grid-template-areas:
        "header header header header header header"
        "main main main main main main"
        "aside aside aside aside aside aside"
        "footer footer footer footer footer footer";
    }
  
    .photo-float {
      float: right;
    }
  
    .aside h2 {
      text-align: center;
    }
  }
  

  