.header {
    grid-area: header;
}



.header-contents {
    position: relative;
    background-color: #9bddff ;
    width: 100vw;
    height: 20vh;
    border-bottom: 5px solid #0d0d55;
}

.header h1 {
    color: #0d0d55;
    position: absolute;
    bottom: 0;
    left: 10px;
}

nav {
    position: absolute;
    bottom: 0;
    right: 10px;
}
