@import url('https://fonts.googleapis.com/css?family=Rubik|Solway&display=swap');
@import "header.css";
@import "footer.css";
@import "cards.css";
@import "indexsection.css";
@import "blogsamplesection.css";


body {
    padding: 0;
    margin: 0;
  }

h1, h2, h3 {
    font-family: 'Rubik', sans-serif;

    color: #3b271d;
    
}

p {
   
font-family: 'Solway', serif;
}

button {
    background-color: green;
    min-width: 60px;
    height: auto;
    color: white;
}

.underline {
    text-decoration: underline;
}

.orange {
    color: #ff5b00;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

a:visited {
    color: #2e963d;
  }
  

  a:hover {
    color: #ff5b00 ;
  }
  

  a:active {
    color: #010203;
  }

   