@import url('https://fonts.googleapis.com/css?family=Rubik|Solway&display=swap');
@import "header.css";
@import "footer.css";
@import "cards.css";
@import "indexsection.css";
@import "blogsamplesection.css";


body {
    padding: 0;
    margin: 0;
  }

h1 {
    font-family: 'Rubik', sans-serif;

    color: #3b271d;
    
}

p {
   
font-family: 'Solway', serif;
}

.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.orange {
    color: #ff5b00;
}

footer {
    background-color: pink;
    height: 10vh;
}